<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD with NODE.Js</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand"> NODE + Express +Mysql (Create , Read, Update, Delete)</a>
</nav>
</body>